:root {
  --page-width: 1300px;
  --page-sm-width: 600px;
  --dest-img-gap: 10px;
  --dest-columns: 4;
}
body {
  font-family: Montserrat, sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(var(--page-width), 100% - 24px) 1fr;
  /* border: 2px solid blue; */
  column-gap: 12px;
}

.wrapper > * {
  grid-column: 2;
}

@media (min-width: 600px) {
  .menu {
    display: inline;
  }
  .hamburger-menu{
    display: none;
  }
  .destinations-img {
      grid-template-columns: repeat(4, 4fr);
  }
  .foot-container {
    grid-template-columns: 1fr 1fr; 
  }
}
