.destinations-title {
  margin: 4rem 0px 2rem;
}
.destinations-txt {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  flex-wrap: wrap;
}

.destinations-txt > p {
  flex-wrap: wrap;
}

.destinations-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-content: stretch;
    gap: 1rem;
    margin: 2rem 0rem 4rem;
}
.dest-img {
  width: 100%;
}
.destinations-img > div {
  /* max-width: calc(25% - 10px); */
  /* min-width: 25%; */
  border-radius: 1rem;
  position: relative;
}
.dest-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  font-family: Dancing Script, sans-serif;
  width: 100%;
}
.destinations-img div div h6 {
  font-family: Montserrat, sans-serif;
  color:darkgrey;
}
.dest-gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.894) 0%,
    25%,
    rgba(0, 0, 0, 0) 50%
  );
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  .destinations-txt {
    grid-template-columns: repeat(3, 1fr);
  }
  .destinations-img {
      grid-template-columns: repeat(4, 1fr);
    border-radius: 1rem;
    overflow: hidden;
  }
  .destinations-img > div {
    border-radius: 0px;
  }
}
