footer {
  background-color: #ffc107;
}

.foot-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 4rem 0rem 5rem;
}

.foot-container div a {
  color: black;
}

.full-bleed {
  width: 100%;
  grid-column: 1/-1;
}

.email-form {
  display: flex;
}

#email {
  width: 100%;
}

#button-addon2 {
  color: white;
  background-color: #198754;
}

@media (min-width: 600px) {
  .foot-container {
    grid-template-columns: 1fr 1fr; 
  }
}
