.header-gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.751) 0%,
    25%,
    rgba(0, 0, 0, 0) 50%,
    80%,
    rgba(0, 0, 0, 0) 87%,
    rgba(0, 0, 0, 0.583) 100%
  );
  width: 100%;
  height: var(--header-height-sm);
  position: absolute;
  background-size: cover;
}
header {
  height: var(--header-height-sm);
  background-image: url("../images/header.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vert-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
  position: relative;
}

.top-container {
  margin-bottom: auto;
}

.globe {
  height: 100%;
  left: 50%;
  transform: translate(-50%); 
  position: absolute;
}
.nav-container {
  display: flex;
  justify-content:space-between;
  margin: 1.5rem 0 1.5rem;
  position: relative;
}

.line {
  height: 1.5px;
  color: white;
  background-color: white;
}

.transparent-btn {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: white;
}

.sign-in-btn {
  background-color: white;
  border-radius: 25px;
  border: none;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
}

.search {
  display: flex;
}
#search::placeholder {
  color: white;
}

.navigation {
  grid: "nav";
  justify-self: end;
}

.menu {
  display: none;
}

.hamburger-menu {
  display: flex;
}
.hamburger-menu img {
  width: 3rem;
  height: 3rem;
}

.intro-text {
  color: white;
  justify-self: start;
  align-self: self-start;
}
.intro-text > div {
  text-transform: uppercase;
  font-weight: 700;
}
.intro-text > h1 {
  font-size: 60px;
  font-weight: 700;
}

/* booking form  */
/* .booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: flex-end;
  color: white;
  border: 1px solid greenyellow;
} */
.booking-form {
  display: grid;
  color: white;
  column-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "dest dest dest"
    "from to guests"
    "btn btn btn";
  flex-shrink: 1;
}

.dest-form {
  flex-basis: 120px;
  grid-area: dest;
}

.from-form {
  flex-basis: 120px;
  grid-area: from;
}

.to-form {
  flex-basis: 120px;
  grid-area: to;
}

.forms {
  display: flex;
  flex-direction: column;
  /* border: 1px solid magenta; */
  flex-grow: 1;
  min-width: 50px;
}

#from, #to, #number, #guests, #destination {
  padding: 5px;
  border-radius: 7px;
} 
#destination {
  padding: 7px;
}

.guests-form {
  flex-basis: 80px;
  grid-area: guests;
}

.form-btn {
  flex-basis: 80px;
  flex-direction: column-reverse;
  grid-area: btn;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  flex-shrink: 0;
}
.form-btn > button {
  border-radius: 25px;
  padding: 5px;
  border: none;
  background-color: #ffc107;
}

@media (min-width: 600px) {
  header {
    height: var(--header-height-bg);
  }
  .header-gradient {
    height: var(--header-height-bg);
  }
  .menu {
    display: inline;
  }
  .hamburger-menu{
    display: none;
    /* display: inline; */
    /* border: 1px solid red; */
  }
  .booking-form {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "dest from to guests btn";
  }
}
